<div id="<%= dom_id club %>">
  <p>
    <strong>Name:</strong>
    <%= club.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= club.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= club.type %>
  </p>

</div>
