<div style="padding:200px";>
<h1 class="title">Editing club</h1>

<%= render "form", club: @club %>

<br>

<%= link_to "Show this club", @club, class:"button is-info" %>
<%= link_to "Back to clubs", clubs_path,class:"button is-dark" %>
</div>