<div style="padding:200px";>
<p style="color: green"><%= notice %></p>

<h1 class="title">Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= render events %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>
<% if !current_user.user? %>
  <%= link_to "New event", new_club_event_path, class:"button is-info" %>
<% end %>