<div style="padding:200px";>
<h1 class="title">New event</h1>

<%= render "form", evaant: @evaant %>

<br>

<div>
  <%= link_to "Back to evaants", evaants_path, class:"button is-dark" %>
</div>
</div>